image: jackfirth/racket:7.0 

variables:
  LC_ALL: C.UTF-8
  FONTCONFIG_PATH: /etc/fonts

# old/deprecated for racket plotting
#before_script:
#  - export FONTCONFIG_PATH=/etc/fonts
#  - apt-get update -y
#  - apt-get upgrade -y
#  - apt-get install ttf-liberation -y
#  - raco pkg install --deps search-auto plot

pages:
  stage: deploy
  script:
  - echo "Nothing here!"
  - make build 
  artifacts:
    paths:
    - public
  only:
  - master

