
body {
    background-color: rgb(18,18,18);
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    color: rgb(191,191,191);
    padding: 10px;
}

h1,h2,h3,h4,h5 {
    line-height:1.2;
    color: rgb(209, 179, 138);
}

a:link, a:visited, a:active {
    color: #e1aa5d;
    text-decoration: none;
}

a:hover {
    color: #ff9600;
    text-decoration: none;
}


/* auto resize images - put in new class if needed */
img {
    max-width: 100%;
    max-height: auto;
}

svg {
    margin: 0 auto;
    display: block;
    text-align: center;
}


/* html special shortcut functions */


.code-label {
    padding: 2px;
    font-family: Courier;
    background-color: #ddd;
    color: rgb(13,13,13);
}

.code-block {
    padding: 10px;
    background-color: #ddd;
    color: #111;
}

.caption-img-block {
    margin: 0 auto;
    background: #f9f9f9;
    padding: 10px;
    width: 90%;
    font-size: 14px;
    box-shadow: 5px 5px 5px #ddd;
    text-align: center;
}


/* end style.css */
